* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
}

#btn_1 {
    border: none;
    padding: 10px 15px;
    background: blue;
    color: #ffff;
    border-radius: 10px;
}

#btn_2 {
    border: none;
    padding: 10px 15px;
    background: red;
    color: #ffff;
    border-radius: 10px;
}

img {
    width: 40%;
    margin-top: 40px;
    border: none;
    border-radius: 30px;
}


@media (max-width: 576px){
    #player_2{
        margin-top: 50px;
    }
}